doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      #content {
        margin-top: 55px;
      }
      /* Light theme styles */
      :root {
        --background-color: #fff;
        --text-color: #000;
      }

      /* Dark theme styles */
      .dark-theme {
        --background-color: #333;
        --text-color: #fff;
      }

      body {
        background-color: var(--background-color);
        color: var(--text-color);
      }
      /* Light theme styles */
      :root {
        --navbar-bg-color: #f8f9fa; /* Light background for navbar */
        --navbar-text-color: #333; /* Dark text for light background */
      }

      /* Dark theme styles */
      body.dark-theme {
        --navbar-bg-color: #343a40; /* Dark background for navbar */
        --navbar-text-color: #fff; /* Light text for dark background */
      }

      body.dark-theme .navbar {
        background-color: var(--navbar-bg-color) !important; /* Override Bootstrap styles */
        color: var(--navbar-text-color) !important;
      }

      body.dark-theme .navbar-brand,
      body.dark-theme .nav-link {
        color: var(--navbar-text-color) !important; /* Ensuring the text color changes */
      }

      /* Rest of the dark theme body styles */
      body.dark-theme {
        background-color: var(--background-color);
        color: var(--text-color);
      }

    script.
        document.addEventListener('DOMContentLoaded', (event) => {
            const themeToggleButton = document.getElementById('theme-toggle');
            const body = document.body;
            const themeIconSun = themeToggleButton.querySelector('.fa-sun');
            const themeIconMoon = themeToggleButton.querySelector('.fa-moon');
             //- Check for saved theme preference
            const currentTheme = localStorage.getItem('theme');
            console.log(currentTheme);
            if (currentTheme === 'dark') {
                body.classList.add('dark-theme');
                themeIconSun.style.display = 'none';
                themeIconMoon.style.display = 'block';
            }
            themeToggleButton.addEventListener('click', () => {
            if (body.classList.contains('dark-theme')) {
                body.classList.remove('dark-theme');
                themeIconSun.style.display = 'block';
                themeIconMoon.style.display = 'none';
                localStorage.setItem('theme', 'light'); //- Save theme preference as 'light'
            } else {
                body.classList.add('dark-theme');
                themeIconSun.style.display = 'none';
                themeIconMoon.style.display = 'block';
                localStorage.setItem('theme', 'dark'); //- Save theme preference as 'dark'
            }
            });
        });

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      a.navbar-brand(href='#') Library
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/solutions') Solutions
          li.nav-item
            a.nav-link(href='/catalog') Catalog
          li.nav-item
            a.nav-link(href='/games') Games
          //- Toggle theme button
        ul.navbar-nav.ml-auto
          li.nav-item
            button#theme-toggle.btn.btn-outline-secondary(type='button')
              i.fas.fa-sun(style='color:black')
                <svg viewBox="0 0 24 24" width="24" height="24" class="lightToggleIcon_pyhR"><path fill="currentColor" d="M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5 S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1 s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0 c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95 c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41 L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41 s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06 c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z"></path></svg>
              i.fas.fa-moon(style='display: none; color:white')
                <svg viewBox="0 0 24 24" width="24" height="24" class="darkToggleIcon_wfgR"><path fill="currentColor" d="M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z"></path></svg> 
    div#content
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/books') All books
              li
                a(href='/catalog/authors') All authors
              li
                a(href='/catalog/genres') All genres
              li
                a(href='/catalog/bookinstances') All book-instances
                hr
              li
                a(href='/catalog/author/create') Create new author
              li
                a(href='/catalog/genre/create') Create new genre
              li
                a(href='/catalog/book/create') Create new book
              li
                a(href='/catalog/bookinstance/create') Create new book instance (copy)

        div(class='col-sm-10')
          block content