extends layout_test

block content

    .container.row

        .col-md-6.offset-md-3
            h1.text-center  New question
            form(action='' method='POST' enctype='multipart/form-data')
                .mb-3
                    label.form-label(for='title') Title
                    input#title.form-control(type='text' name='title' value=(undefined === question ? '' : question.title))
                .mb-3
                    label.form-label(for='description') Description
                    textarea#description.form-control(type='text' name='description' value=(undefined === question ? '' : question.description) required )
                .mb-3
                    div.form-group
                        label.form-file-label(for='image') Upload question image(s)
                        div.file-loading
                            input#image.form-control(multiple='' type='file' name='image')

                .mb-3
                    button.btn.btn-success Add question
            a(href='/questions') All questions
